# Anas Bin Rashid
# 22I-0907 CS-6A
## Task 1

In [2]:
ctemp = float(input('Enter temperature in Celsius: '))
ftemp = (9/5 * ctemp) + 32
print('The temperature in Fahrenheit is: ', ftemp)

Enter temperature in Celsius: 37
The temperature in Fahrenheit is:  98.60000000000001

## Task 2

In [3]:
keys = ['name', 'age', 'grade']
values = ['Ali', 20, 'A']

dictionary = {}

for i in range (len(keys)):
    dictionary[keys[i]] = values[i]

print(dictionary)

{'name': 'Ali', 'age': 20, 'grade': 'A'}

## Task 3

In [6]:
def function(numbers):
    average = (sum(numbers))/(len(numbers))
    if(average < 40):
        return (sum(numbers))
    else:
        return (max(numbers))

count = int(input("How many numbers do you want to enter: "))
listofnumbers = []

for i in range (count):
    number = float(input("Enter number: "))
    listofnumbers.append(number)

result = function(listofnumbers)

print(result)

How many numbers do you want to enter: 3
Enter number: 1
Enter number: 2
Enter number: 3
6.0

## Task 4

In [28]:
givenlist = [[[1, 2, 3], [4, 5]], 6]

def listflatter(numbers):
  flatlist = []
  for i in numbers:
      if isinstance(i, list):
          flatlist.extend(listflatter(i))
      else:
          flatlist.append(i)
  return flatlist

flat = listflatter(givenlist)
print(flat)

[1, 2, 3, 4, 5, 6]

## Task 5

In [8]:
last = int(input("Enter the last number: "))

print("Even numbers from 1 to", last, "are:")

for i in range(1, last+1):
    if i % 2 == 0:
        print(i)

Enter the last number: 50
Even numbers from 1 to 50 are:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50